.ItemBuilder {
	margin: 10px auto;
	background: rgb(233, 233, 233);
	width: 400px;
	text-align: center;
	box-shadow: 0 4px 3px rgb(153, 153, 153);
	border: 1px solid rgb(82, 82, 82);
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
}

.FormTitle {
	font-weight: bold;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

@media (min-width: 770px) {
	.ItemBuilder {
		width: 600px;
	}
}

@media (min-width: 1300px) {
	.ItemBuilder {
		width: 800px;
	}
}
