.CardInfo {
	padding: 0.5rem;
}

.CardTitle {
	font-weight: normal;
	border-top: 1px solid rgb(49, 49, 49);
	border-bottom: 1px solid rgb(49, 49, 49);
	margin-bottom: 0.5rem;
	width: 100%;
}

.CardInfo h2 {
	font-weight: normal;
	text-transform: capitalize;
	font-size: 1.2rem;
	margin: 0.2rem auto;
	word-wrap: break-word;
}

.CardPrice {
	padding: 0.3rem 0;
}

.CardPrice h3 {
	font-weight: bold;
	font-size: 1.1rem;
}

.CardDescription {
	margin: 0.2rem auto;
}

.CardDescription h3 {
	font-size: 0.8rem;
	font-weight: 300;
	word-wrap: break-word;
}

.CardDescription {
	font-weight: 300;
	font-size: 0.9rem;
}
