.ButtonsSection {
	padding-top: 6rem;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-left: 1rem;
	display: grid;
	min-width: 370px;
	grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
	grid-column-gap: 0.5rem;
	grid-row-gap: 1rem;
	justify-content: space-between;
}

.Button {
	color: rgb(49, 49, 49);
	text-transform: capitalize;
	font-weight: bold;
	padding: 10px 0;
	background: rgb(249, 253, 2);
	border: 1px solid rgb(97, 97, 97);
	border-radius: 90px;
	transition: all 0.3s linear;
	cursor: pointer;
	outline: none;
}

.Button:hover {
	color: rgb(248, 248, 248);
	background: rgb(49, 49, 49);
	padding: 10px 0;
	border: 1px solid rgb(97, 97, 97);
	border-radius: 90px;
	transition: all 0.3s linear;
	cursor: pointer;
	outline: none;
}

.Active {
	color: rgb(248, 248, 248);
	text-transform: capitalize;
	font-weight: bold;
	padding: 10px 0;
	background: rgb(49, 49, 49);
	border: 1px solid rgb(97, 97, 97);
	border-radius: 90px;
	transition: all 0.3s linear;
	cursor: pointer;
	outline: none;
}

.ClearFilters {
	display: flex;
	justify-content: flex-end;
	max-width: 1600px;
	padding: 5px 30px;
}

.ClearFilters button {
	outline: none;
	border: none;
	text-decoration: none;
	margin: 0;
	color: rgb(41, 41, 41);
	background: rgb(248, 248, 248);
	text-transform: capitalize;
	cursor: pointer;
	text-align: center;
}

.ClearFilters button:hover {
	outline: none;
	color: rgb(97, 97, 97);
	background: rgb(248, 248, 248);
	text-transform: capitalize;
	text-decoration: underline;
}

@media (min-width: 700px) {
	.ButtonsSection {
		display: grid;
		padding-top: 6.6rem;
		grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
		grid-column-gap: 0.5rem;
		grid-row-gap: 0.5rem;
	}
}

@media (min-width: 1300px) {
	.ButtonsSection {
		width: 1400px;
		grid-template-columns: repeat(5, 200px);
		grid-column-gap: 2rem;
	}

	.ClearFilters {
		padding: 30px 10px;
	}
}
