.CardFooter {
	background: rgb(49, 49, 49);
	padding: 0.5rem 0.5rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: 0rem;
	margin-right: 0rem;
	display: grid;
	grid-template-columns: repeat(2, 70px);
	column-gap: 0.5rem;
	align-items: center;
}

@media (min-width: 410px) {
	.CardFooter {
		width: auto;
	}
}

.FooterTags {
	color: white;
	margin: 0 auto;
	width: 90px;
	font-size: 0.5rem;
	font-weight: bolder;
	padding: 0.5rem;
	text-transform: uppercase;
	text-align: center;
	word-wrap: break-word;
}

.CardBtns {
	display: grid;
	position: absolute;
	grid-template-columns: repeat(2, 65px);
	justify-items: center;
}

.FooterBtn {
	color: rgb(49, 49, 49);
	font-weight: bold;
	max-height: 40px;
	display: block;
	margin: 1rem;
	padding: 0.6rem 0.2rem;
	text-transform: capitalize;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s linear;
	cursor: pointer;
}

.FooterBtn:hover {
	border: 1px solid rgb(207, 211, 1);
}

.TitleHolder {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.CloseOptionsModal {
	font-size: 1.5rem;
	cursor: pointer;
}

.TitleHolder span {
	font-size: 1.2rem;
	margin-left: 1rem;
	text-transform: capitalize;
}

@media (min-width: 768px) {
	.CardFooter {
		min-width: 230px;
		grid-template-columns: repeat(2, 100px);
	}

	.FooterTags {
		color: white;
		margin: 0 auto;
		width: 100px;
		font-size: 0.6rem;
		font-weight: bolder;
		padding: 0.5rem;
		text-transform: uppercase;
	}
}
