.ItemBuilder {
	height: 100vh;
}

.ImageHolder {
	width: 100%;
	text-align: center;
}

.UpdateItemImage {
	width: 320px;
	border-radius: 2px;
}

.UpdateForm {
	margin: 3.7rem 0 auto auto;
	padding: 3rem 2rem;
	border-top: 1px solid black;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	background: rgb(245, 172, 13);
	background: linear-gradient(
		144deg,
		rgba(245, 172, 13, 1) 0%,
		rgba(9, 119, 108, 0.9752275910364145) 51%,
		rgba(240, 252, 20, 1) 100%
	);
	height: 56vh;
	overflow-y: hidden;
}

@media (min-width: 400px) {
	.UpdateForm {
		margin: 1.5rem 0 auto auto;
		height: 52.5vh;
	}
}

@media (min-width: 765px) {
	.UpdateItemImage {
		width: 500px;
	}

	.UpdateForm {
		margin: 5.3rem 0 auto auto;
		padding: 4rem 5rem;
		height: 47vh;
		overflow-y: unset;
	}
}

@media (min-width: 1020px) {
	.UpdateItemImage {
		width: 500px;
	}

	.UpdateForm {
		margin: 2rem auto;
		padding: 4rem 5rem;
		border: 1px solid black;
		border-radius: 50px;
		width: 600px;
		height: auto;
	}
}
