.CardsCenter {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	max-width: 1800px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 175px));
	justify-content: space-between;
}

.CardsDisplayLoader {
	display: block;
}

.SpinnerHolder {
	padding-top: 10rem;
	width: 100%;
	height: 60vh;
}

.NotFound {
	color: rgb(97, 97, 97);
	font-weight: bold;
	font-size: 2rem;
}

@media (min-width: 410px) {
	.CardsCenter {
		grid-template-columns: repeat(auto-fill, minmax(150px, 185px));
	}
}

@media (min-width: 765px) {
	.CardsCenter {
		grid-template-columns: repeat(auto-fill, minmax(150px, 240px));
	}
}

@media (min-width: 970px) {
	.CardsCenter {
		margin: auto;
	}
}
