.Logo {
	margin-top: 0.5rem;
	width: 40px;
	padding: 0.2rem;
	border: 2px solid rgb(49, 49, 49);
	border-radius: 5px;
}

.LogoLogin {
	width: 75px;
	border: 2px solid rgb(49, 49, 49);
	border-radius: 50px;
}

.LogoNavbar {
	display: none;
}

@media (min-width: 500px) {
	.LogoLogin {
		width: 80px;
	}
}

@media (min-width: 1000px) {
	.LogoNavbar {
		display: block;
	}

	.LogoLogin {
		width: 100px;
	}
}

@media (min-width: 1090px) {
	.LogoHolder {
		margin-left: 1rem;
	}

	.LogoLogin {
		width: 50px;
	}
}
