.ToolTipHolder {
	position: fixed;
	background: #fff;
	border-top: 2px solid yellow;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 15px;
	width: 100%;
	bottom: 0;
	overflow: hidden;
	z-index: 101;
	transition: all 0.2s ease-out;
	height: 0;
	opacity: 0;
}

.ToolTipHolderAbove700px {
	position: absolute;
	background: #fff;
	padding: 15px;
	overflow: hidden;
	box-shadow: 1px 1px 1px black;
	border-radius: 15px;
	display: none;
	z-index: 101;
}

.Open {
	height: 250px;
	opacity: 1;
}

.TitleHolder {
	padding-bottom: 3rem;
}

.TitleHolder span {
	text-transform: capitalize;
	margin-left: 1rem;
}

.CloseOptionsModal {
	font-size: 1.2rem;
}

.TooltipBtn {
	display: block;
	margin: 0.4rem;
	text-transform: capitalize;
	color: black;
	border: 1px solid yellow;
	background: yellow;
	padding: 0.3rem;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.TooltipBtn:hover {
	background: rgb(190, 190, 46);
	font-weight: bold;
}

@media (min-width: 768px) {
	.TooltipBtn {
		display: block;
		margin: 0.4rem;
		text-transform: capitalize;
		color: black;
		border: 1px solid rgb(141, 141, 141);
		padding: 0.3rem;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.3s ease-out;
	}

	.Open {
		display: block;
	}

	.TitleHolder {
		padding-bottom: 1rem;
	}
}
