.NavigationItem {
	text-align: center;
	padding: 15px 10px;
	width: 100%;
}

.NavigationItem a {
	color: rgb(49, 49, 49);
	width: 100%;
	box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
	color: rgb(207, 211, 1);
	font-weight: bold;
}

@media (min-width: 970px) {
	.NavigationItem {
		padding: 10px;
		display: inline;
	}
}

@media (min-width: 1300px) {
	.NavigationItem {
		padding: 10px 20px;
		display: inline;
	}
}
