.Hero {
	/* width: 100vh; */
	height: 100vh;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 80%,
		rgba(255, 255, 255, 1) 100%
	);
}

.TitleHolder {
	position: relative;
	height: 600px;
	margin-top: -20rem;
	background: #ffff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 178px;
	border-radius: 500px / 500px;
	z-index: 4;
	padding: 1rem;
}

.TitleHolder h2 {
	text-align: center;
	font-size: 3rem;
	margin-top: 25rem;
	margin-bottom: 0.5rem;
}

.World {
	color: rgb(209, 209, 16);
}

.Container {
	width: 100%;
	position: relative;
	text-align: center;
}

.Height {
	position: relative;
	padding-bottom: 50px;
}

.Text {
	position: absolute;
	left: 0%;
	bottom: 10%;
	width: 100%;
	text-transform: capitalize;
	color: black;
	font-weight: bolder;
	font-size: 1.8rem;
	transform: translateY(-55px);
	transition: 1.2s ease-in-out;
	opacity: 0;
}

.MessageHolder {
	height: 60px;
}

.BtnsHolder {
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	width: 150px;
}

.BtnsCover {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: transparent;
	display: none;
}

.Btn {
	background: rgb(185, 185, 185);
	padding: 4px;
	border-radius: 50px;
	border: none;
	margin: 0 10px;
}

.ActivitiesBtnActive {
	padding: 4px;
	border-radius: 50px;
	border: none;
	margin: 0 10px;
	background: rgb(24, 124, 20);
}

.PlacesBtnActive {
	padding: 4px;
	border-radius: 50px;
	border: none;
	margin: 0 10px;
	background: rgb(233, 153, 5);
}

.FoodBtnActive {
	padding: 4px;
	border-radius: 50px;
	border: none;
	margin: 0 10px;
	background: rgb(233, 38, 38);
}

.TransportBtnActive {
	padding: 4px;
	border-radius: 50px;
	border: none;
	margin: 0 10px;
	background: rgb(34, 172, 226);
}

/* Divs for Hero */

.HeroImage {
	position: absolute;
	display: flex;
	max-height: 100vh;
	min-width: 350px;
	z-index: -5;
	transition: 1s ease-in-out;
	opacity: 1;
}

.HeroImageContainer {
	position: relative;
	width: 240px;
}

.Image {
	height: 300px;
	margin: 0.3rem 0.3rem;
	width: 180px;
	object-fit: cover;
	border-radius: 15px;
}

.HeroDivOne {
	display: none;
	overflow-y: hidden;
	transition: 2s ease-in-out;
	margin-top: 6rem;
}

.HeroDivTwo {
	transition: 2s ease-in-out;
	overflow-y: hidden;
}

.HeroDivThree {
	display: none;
	overflow-y: hidden;
	transition: 2s ease-in-out;
	margin-top: 6rem;
}

.HeroDivFour {
	display: none;
	transition: 2s ease-in-out;
	overflow-y: hidden;
}

.HeroDivFive {
	display: none;
	overflow-y: hidden;
	transition: 2s ease-in-out;
	margin-top: 6rem;
}

.HeroDivSix {
	display: none;
	transition: 2s ease-in-out;
	overflow-y: hidden;
}

.HeroDivSeven {
	display: none;
	transition: 2s ease-in-out;
	overflow-y: hidden;
	margin-top: 6rem;
}
.HeroDivEight {
	display: none;
	transition: 2s ease-in-out;
	overflow-y: hidden;
}

.HeroImage1 {
	position: absolute;
	display: flex;
	max-height: 100vh;
	width: 100vw;
	z-index: -5;
	transition: 1s ease-in-out;
	opacity: 0;
}

.HeroImage2 {
	position: absolute;
	display: flex;
	max-height: 100vh;
	width: 100vw;
	z-index: -5;
	transition: 1s ease-in-out;
	opacity: 0;
}

.HeroImage3 {
	z-index: -5;
	position: absolute;
	transition: 1s ease-in-out;
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	opacity: 0;
}

.HeroImage4 {
	z-index: -5;
	position: absolute;
	height: 100vh;
	width: 100vw;
	transition: 1s ease-in-out;
	object-fit: cover;
	opacity: 0;
}

@media (min-width: 370px) {
	.HeroImage {
		top: 10%;
	}

	.HeroImage1 {
		top: 10%;
	}

	.HeroImage2 {
		top: 10%;
	}

	.HeroDivOne {
		display: block;
	}
	.HeroDivTwo {
		display: block;
	}
}

@media (min-width: 410px) {
	.HeroImage {
		top: 3%;
	}

	.HeroImage1 {
		top: 3%;
	}

	.HeroImage2 {
		top: 3%;
	}

	.Image {
		margin: 0rem 0.8rem;
	}
}

@media (min-width: 700px) {
	.HeroImage {
		top: 15%;
	}

	.HeroImage1 {
		top: 15%;
	}

	.HeroImage2 {
		top: 15%;
	}

	.Image {
		margin: 2rem 3rem;
	}

	.HeroDivOne {
		display: block;
	}
	.HeroDivTwo {
		display: block;
	}
	.HeroDivThree {
		display: block;
	}
}

@media (min-width: 1020px) {
	.HeroImage {
		top: 30%;
	}

	.HeroImage1 {
		top: 30%;
	}

	.HeroImage2 {
		top: 30%;
	}

	.Image {
		margin: 2rem 3.5rem;
	}

	.HeroDivOne {
		display: block;
	}
	.HeroDivTwo {
		display: block;
	}
	.HeroDivThree {
		display: block;
	}
	.HeroDivFour {
		display: block;
	}
}

@media (min-width: 1200px) {
	.HeroImage {
		top: 0%;
	}

	.HeroImage1 {
		top: 0%;
	}

	.HeroImage2 {
		top: 0%;
	}

	.Image {
		margin: 2rem 3.5rem;
	}

	.HeroDivOne {
		display: block;
	}
	.HeroDivTwo {
		display: block;
	}
	.HeroDivThree {
		display: block;
	}
	.HeroDivFour {
		display: block;
	}
	.HeroDivFive {
		display: block;
	}
}

@media (min-width: 1700px) {
	.HeroImage {
		top: 10%;
	}

	.HeroImage1 {
		top: 10%;
	}

	.HeroImage2 {
		top: 10%;
	}

	.Image {
		margin: 2rem 2rem;
	}

	.HeroDivOne {
		display: block;
	}
	.HeroDivTwo {
		display: block;
	}
	.HeroDivThree {
		display: block;
	}
	.HeroDivFour {
		display: block;
	}
	.HeroDivFive {
		display: block;
	}
	.HeroDivSix {
		display: block;
	}
	.HeroDivSeven {
		display: block;
	}
	.HeroDivEight {
		display: block;
	}
}

.BtnDownHolder {
	width: 100%;
	top: 40%;
	position: relative;
	text-align: center;
}

.Height {
	position: relative;
	padding-bottom: 50px;
}

.NextBtn {
	position: fixed;
	top: 86%;
	margin-left: -30px;
	font-size: 2rem;
	height: 45px;
	border-radius: 180px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	border: none;
	width: 50px;
	animation: updown 2s ease infinite;
}

.Arrow {
	color: #ffff;
}

@keyframes updown {
	0% {
		transform: translateY(-50%);
	}

	50% {
		transform: translateY(50%);
	}

	100% {
		transform: translateY(-50%);
	}
}

/* HERO Background */
