.ImageContainer {
	position: relative;
	width: 170px;
	height: 180px;
}

.Img {
	display: block;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

@media (min-width: 768px) {
	.ImageContainer {
		min-width: 230px;
		height: 230px;
	}
}
