.ImageContainer {
	position: relative;
}

.ItemImage {
	height: 180px;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

@media (min-width: 768px) {
	.ImageContainer {
		min-width: 230px;
		height: 200px;
	}
}
