.Input {
	width: 100%;
	padding: 10px;
}

.InputElement {
	outline: none;
	border-radius: 5px;
	border: 1px solid rgb(137, 139, 0);
	background: rgb(255, 255, 255);
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.InputElement:focus {
	outline: none;
	background-color: rgb(240, 240, 240);
}

.Invalid {
	border: 1px solid red;
	background-color: #fda49a;
}
