.Input {
	width: 100%;
	padding: 5px;
}

.InputSearchToolbar {
	outline: none;
	border-radius: 50px;
	border: 1px solid rgb(137, 139, 0);
	background: rgb(255, 255, 255);
	font: inherit;
	font-size: 0.8rem;
	padding: 6px 10px;
	margin-top: 2px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

@media (min-width: 768px) {
	.Input {
		width: 100%;
		padding: 5px;
	}
}

.Input p {
	text-align: right;
	color: white;
}

.InputElement {
	outline: none;
	border-radius: 5px;
	border: 1px solid rgb(137, 139, 0);
	background: rgb(255, 255, 255);
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	resize: none;
}

.InputElement:focus {
	outline: none;
	background-color: rgb(240, 240, 240);
}

.Inputlogin {
	outline: none;
	border-radius: 50px;
	border: 1px solid rgb(137, 139, 0);
	background: rgb(255, 255, 255);
	font: inherit;
	padding: 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

@media (min-width: 700px) {
	.InputSearchToolbar {
		font-size: 1.2rem;
	}
}

.Inputlogin:focus {
	outline: none;
	background-color: rgb(240, 240, 240);
}

.Invalid {
	border: 1px solid red;
}

/* Progress bar section Upload */

.ProgressSection {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.3rem;
}

.ProgressbarHolder {
	margin-top: 0.1rem;
}

.ProgressSection progress {
	border-radius: 0;
	margin: 0 0.3rem;
	width: 110px;
}

.ProgressSection button {
	padding: 0.1rem;
	text-transform: capitalize;
}
