.ImageContainer {
	position: relative;
	overflow-y: hidden;
}

.ImageContainerForProfile {
	position: relative;
	overflow-y: hidden;
	height: 300px;
	margin: 0.5rem;
	transition: 0.5s ease;
}

.ImageContainerForProfile:hover,
.ImageContainerForProfile:active {
	transform: scale(1.02);
}

.ItemImage {
	height: 180px;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.ItemImageForProfile {
	height: 300px;
	width: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.CityTitle {
	position: absolute;
	right: 0;
	bottom: 5%;
	background: yellow;
	opacity: 0.9;
	text-transform: capitalize;
	font-weight: bolder;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding: 0.25rem 0.5rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
	.ImageContainer {
		min-width: 230px;
	}
}
