.NavigationItems {
	list-style: none;
	display: flex;
}

.NavigationItemsProfilePage {
	margin-top: 0.3rem;
	list-style: none;
	display: flex;
}

.ProfilePageLink {
	text-align: center;
	padding: 10px 10px;
	width: 100%;
}

.ProfilePageLink {
	color: rgb(49, 49, 49);
	width: 100%;
	box-sizing: border-box;
}

.ProfilePageLink:hover,
.ProfilePageLink:active,
.ProfilePageLink.active {
	color: rgb(207, 211, 1);
	font-weight: bold;
}

@media (min-width: 720px) {
	.NavigationItems {
		margin-top: 0.1rem;
	}
}

.NavbarButton {
	font-size: 1.3rem;
	color: black;
	transition: all 0.2s linear;
}

.NavbarButton:hover {
	color: rgb(194, 194, 27);
}

.SignupBtn {
	text-transform: capitalize;
	border: none;
	font-size: 1.2rem;
	padding-right: 1rem;
	color: black;
	font-weight: 500;
	cursor: pointer;
}

.SignupBtn:hover {
	font-weight: bolder;
	text-decoration: underline;
}
