.App {
	text-align: center;
}

.Header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: rgb(249, 253, 2);
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
